<%- include ../partials/head.ejs%>
<%- include ../partials/header.ejs%>
<% const MONTHIFY = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']%>
<div class="container">
  <div class="jumbotron p-5">
    <h1>Welcome to Eventify</h1>
  </div>
  <% if(events){ %>
  <div id="explore" class="row mt-5">
    <% events.forEach(e => { %>
      <% const date = new Date(e.dateAndTime) %>
        <div class="col-md-6 mt-2">
            <div class="container bg-light">
              <h3><%= e.name %></h3>
              <img class="rounded mb-2" src="<%= e.poster %>" style="width: 100%;" alt="<%= e.name %>">
              <span class="mr-auto"><%= MONTHIFY[date.getMonth()] %> <%= date.getDate() %>, <%= date.getYear()+1900 %></span>
              <a class="ml-auto" href="/event/<%= e._id %>"><div class="btn btn-primary">Know More!</div></a>
            </div>
        </div>
      <% }) %>
    </div>
  <% } %>
</div>
<%- include ../partials/footer.ejs%>